{{ define "header_css" }}{{ end }}

{{ define "main" }}
<div class="grid grid-cols-3 gap-4">
  {{- $wDisplay := true -}}
{{- if isset .Site.Params "widgets" -}}
  {{- if isset .Site.Params.widgets "display" -}}
    {{- $wDisplay = .Site.Params.widgets.display -}}
  {{- end -}}
{{- end -}}
{{ if $wDisplay }}
  <main class="col-span-3 lg:col-span-2">
  {{ else }}
  <main class="col-span-3">
  {{ end }}
    <article class="bg-white dark:bg-warmgray-900 dark:text-white rounded-xl shadow-sm p-6 my-4">
      <h1 class="title text-4xl font-bold mb-2">{{.Title}}</h1>
      <div class="content prose md:prose-base lg:prose-lg max-w-none dark:prose-invert py-1">{{.Content}}</div>
    </article>
  </main>
  {{- $wDisplay := true -}}
{{- if isset .Site.Params "widgets" -}}
  {{- if isset .Site.Params.widgets "display" -}}
    {{- $wDisplay = .Site.Params.widgets.display -}}
  {{- end -}}
{{- end -}}
{{ if $wDisplay }}
    {{ partial "widgets.html" . }}
  {{ end }}
</div>
{{ end }}
